<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955058028190-30oc7cg8u314de0s2378ve3csf6hv240.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955058028190-30oc7cg8u314de0s2378ve3csf6hv240</string>
	<key>API_KEY</key>
	<string>AIzaSyCItQhOYx69Bo4KSBbz20diP-RtKI3ftn4</string>
	<key>GCM_SENDER_ID</key>
	<string>955058028190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>srmist.edu.in.Unizo-iOS</string>
	<key>PROJECT_ID</key>
	<string>unizo-f28c0</string>
	<key>STORAGE_BUCKET</key>
	<string>unizo-f28c0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955058028190:ios:5c9e97258302e30a2b458f</string>
</dict>
</plist>